/*fades in the entre website for a more relaxing experience*/
@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
#text{
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
@font-face {
    font-family: 'IBMPlexMono';
    src: url('../fonts/IBMPlexMono-Bold.ttf');
}
*{
    font-family: 'IBMPlexMono';
}
body{
    background-color: #1e1c1c;
    color: white;
}
h1{
    font-size: 7rem;
}
#Status{
    position: absolute;
}
#MyWork{
    position: absolute;
    margin-top: 14rem;
}
#GitHub{
    position: absolute;
    margin-top: 28rem;
}
#text:has(.HighLigt:hover) .HighLigt:not(.HighLigt:hover){
    opacity: 0.3;
}
a{
    color: white;
    text-decoration: none;
}