@font-face {
    font-family: 'IBMPlexMono';
    src: url('../fonts/IBMPlexMono-Bold.ttf');
}
*{
    font-family: 'IBMPlexMono';
}
body{
    background-color: #1e1c1c;
    color: white;
}
header h1{
    text-align: center;
    font-size: 3rem;
}
header a{
    color: white;
    text-decoration: none;
    text-align: left;
    position: absolute;
    font-size: 3rem;
}
#UnderLine{
    position: absolute;
    margin-top: 3.5rem;
    height: 0.5rem;
    background-color: white;
}
@keyframes UnderLineAnimationIn{0%{width: 0rem;}100%{width: 15rem;}}
@keyframes UnderLineAnimationOut{0%{width: 15rem;}100%{width: 0rem;}}
#BackObject #UnderLine{
    animation-name: UnderLineAnimationOut; animation-duration: 1s; animation-fill-mode: forwards
}
#BackObject:hover #UnderLine{
    animation-name: UnderLineAnimationIn; animation-duration: 1s; animation-fill-mode: forwards
}
#terminal{
    position: absolute;
    margin-top: 5rem;
    margin-left: 35vw;
    width: 35rem ;
    height: 40rem;
    background-color: black;
    border: 0.2rem solid white;
    border-radius: 1rem;
}
#TextContainer{
    margin-left: 1rem;
}